
body{
background:#0b1628;
color:white;
font-family:Arial, Helvetica, sans-serif;
margin:0;
padding:40px;
}

.contenido{
position:relative;
max-width:900px;
margin:auto;
}

.marca-agua{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:500px;
opacity:0.08;
z-index:0;
pointer-events:none;
}

h1, ul{
position:relative;
z-index:2;
}

h1{
color:#f3c24f;
}
